body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container {
    display: flex;
    gap: 100px;
}

.player-grid,
.computer-grid {
    margin-top: 50px;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.ship {
    background-color: grey;
}

.hit {
    background-color: green;
}

.miss {
    background-color: red;
}