body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.grid-container {
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}

.message {
    font-size: 26px;
    margin-top: 0;
}

.player-grid,
.computer-grid {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 40px; 
    height: 40px; 
    border: solid 1px black; 
    box-sizing: border-box;
}

.shipyard,
.shipyard-labels {
    display: flex;
    gap: 20px;
}

.shipyard-labels > p {
    min-width: 210px;
    text-align: center;
}

.shipyard > div {
    min-width: 210px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shipyard-label {
    height: 20px;
    margin: 0;
}

.rotateBtn-horizontal {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url('/src/rotate-right-variant.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
}

.rotateBtn-vertical {
    background: url('/src/rotate-left-variant.svg');
    transform: rotate(90deg);
}

.ship {
    border: 2px solid grey;
    background-color: darkgrey;
}

.hit{
    background-color: red !important;
}

.miss {
    background-color: blue;
}

.restart {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
}

.hide {
    display: none;
}

#carrier,
#battleship,
#cruiser,
#submarine,
#destroyer {
    height: 40px;
    width: 200px;
    box-sizing: border-box;
}

#battleship {
    width: 160px;
}

#cruiser,
#submarine {
    width: 120px;
}

#destroyer {
    width: 80px;
}

.selected {
    border: 2px solid darkgreen;
    background-color: green;
}

.placed {
    opacity: 50%;
}

.hover {
    border: 2px solid darkgreen;
}

.rotate {
    transform: rotate(90deg);
}
