body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 100px;
}

.message {
    font-size: 26px;
}

.player-grid,
.computer-grid {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 40px; 
    height: 40px; 
    border: solid 1px black; 
    box-sizing: border-box;
}

.shipyard {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 200px;
}

.ship {
    background-color: grey;
}

.hit {
    background-color: red;
}

.miss {
    background-color: blue;
}

.restart {
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
}

.hide {
    display: none;
}

#carrier,
#battleship,
#cruiser,
#submarine,
#destroyer {
    height: 40px;
    width: 200px;
    border: 2px solid grey;
    background-color: darkgrey;
    box-sizing: border-box;
}

#battleship {
    width: 160px;
}

#cruiser,
#submarine {
    width: 120px;
}

#destroyer {
    width: 80px;
}